---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Home/Hero';
import Presentation from '../components/Home/Presentation';

---

<Layout>

	<Presentation client:load />
	<Hero client:load />

	<div>
		asdas
	</div>
</Layout>
